p {
  font-family: Lato;
}


.dib{
  display: inline-block;
}

.fr{
  float:right !important;
}

.title-wrapper{
  display: flex !important;
}

.container{
  position: relative;
    width: 100vw;
    height: 100vh;
}

.disclaimer{
  position: absolute;
  bottom:50px;
}