<div class="page-wrapper">
  <div class="title-wrapper">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/TamilNadu_Logo.svg/933px-TamilNadu_Logo.svg.png"  width=100 height=100/>
      <div class="fr w-100 ta-center">
        <h2>TamilNadu Government</h2>
        <h4> COVID-19 Emergency</h4>
      </div>
  </div>

<div class="registration-wrapper">

  <h3> Please select your reason for requesting passes</h3>
  <div class="options-wrapper">
     <button md-raised-button color="primary">Individual</button>
      <button md-raised-button color="accent">Organisation</button>
      <button md-raised-button color="warn">Skill Labour</button>
  </div>
</div>
</div>