<div class="page-wrapper">
  <div class="title-wrapper">
    <div class="part1">
    <img class="logo-img" src="https://image.winudf.com/v2/image1/Y29tLnRuZWdhLmNvbGxlY3QyX2ljb25fMTU1ODY5MzU1M18wOTY/icon.png?w=170&fakeurl=1" />
    </div>
      <div class="title-content part2">
        <h2>TamilNadu Government</h2>
        <h4> COVID-19 Emergency</h4>
      </div>
      <div  class="part3">
      <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/TamilNadu_Logo.svg/933px-TamilNadu_Logo.svg.png" />
      </div>
  </div>

<div class="registration-wrapper">

  <h3> Please select your reason for requesting passes</h3>
  <div class="options-wrapper">
     <button class="category-button" md-raised-button color="primary" routerLink="/individual">Individual</button>
      <button class="category-button" md-raised-button color="accent" routerLink="/organisation">Organisation</button>
      <button class="category-button" md-raised-button color="warn" routerLink="/skill-labour">Skill Labour</button>
  </div>

</div>
</div>